@{
    ViewBag.Title = "Calendar Test UI";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section HeaderIncludes
{
    <link href="/css/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/css/fullcalendar.print.min.css" rel="stylesheet" media="print"/>
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/fullcalendar.min.js"></script>
    <script src="/js/event_calendar.js"></script>

    <script type="text/javascript">

        $(document)
            .ready(function() {

                $('#calendar')
                    .fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'listDay,listWeek,month'
                        },

                        // customize the button names,
                        // otherwise they'd all just say "list"
                        views: {
                            listDay: { buttonText: 'list day' },
                            listWeek: { buttonText: 'list week' }
                        },

                        defaultView: 'listWeek',
                        defaultDate: '2017-02-12',
                        navLinks: true, // can click day/week names to navigate views
                        editable: true,
                        eventLimit: true, // allow "more" link when too many events
                        events: '/home/fetchevents'
                    });
            });

    </script>

    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>

}

<div id="calendar"></div>